<?xml version="1.0" encoding="UTF-8"?><SystemProperties><SystemName>System1</SystemName><SerialNo>VIRTUAL_USE</SerialNo><UsedMedia><Media path="C:\Users\Administrator\AppData\Local\ABB Industrial IT\Robotics IT\RobotWare\RobotWare_6.05.0129" name="RobotWare" version="6.05.0129" /></UsedMedia><ControlModule><Option descr="RobotWare Base"></Option><Option descr="Chinese"></Option><Option descr="709-1 DeviceNet Master/Slave"></Option><Option descr="840-2 PROFIBUS Anybus Device"></Option></ControlModule><DriveModule><Name>Robot1</Name><Option descr="Drive System IRB 120/140/260/360/910SC/1200/1400/1520/1600/1660ID"></Option><Option descr="ADU-790A in position X3"></Option><Option descr="ADU-790A in position Y3"></Option><Option descr="ADU-790A in position Z3"></Option><Option descr="IRB 910SC-3/0.55"></Option></DriveModule></SystemProperties>